* { /*This is the universal selector, which selects all elements on the webpage*/
    margin: 0; /* Margins are the space outside the border of an element*/
    padding: 0; /*Padding is the space between the content of an element and its border*/
    box-sizing: border-box;  /*determines how the width and height of an element are calculated, including padding and border*/
}

body {
    background: #012B4E;
    color: #ededed; /*This color is applied to the text content*/
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;  /*Padding creates space around the content inside the header*/
    background: rgb(16, 40, 69, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600; /*It makes the logo text appear thicker or more emphasized*/
}

a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 20px;
}

a:hover,   /*This selector targets anchor elements (<a>) when they are hovered over by the mouse cursor*/
a.active {
    color: #00abf0;
}


.home1 {
    height: 80vh;
    background: url('file:///C:/Users/PC/OneDrive/Images/sec1.png') no-repeat;
    background-size: cover;
    background-position: top;
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 0 5%;
}

.home2 {
    height: 60vh;  /* This means the section will take up 80% of the height of the browser window*/
    background: url('file:///C:/Users/PC/OneDrive/Images/sec2.png') no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    align-items: center;
    gap: 30px;  /*This creates space between the child elements*/
    padding: 0 5%; /*This rule sets the padding of the section to 0 pixels on the top and bottom, and 5% of the viewport width on the left and right sides*/
}

.home3 {
    height: 100vh;
    background: url('file:///C:/Users/PC/OneDrive/Images/sec3.png') no-repeat;
    background-size: cover;
    background-position: top;
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 0 5%;
    text-align: center;
}

.content {
    max-width: 750px;
}

h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

h2 {
    font-size: 42px;
    font-weight: 600;
}

h3 {
    font-size: 32px;
    font-weight: 500;
    color: #00abf0;
}

p {
    font-size: 16px;
    margin: 20px 0 40px;
    line-height: 1.3;
}

.btn-box {
    float: right;
    width: 400px;
    height: 50px;
}

.btn-box a {
    /* position: relative; */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 175px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;  /*rounded corners*/
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
}

.tour-cover {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;

    gap: 20px;
    text-align: center;
    font-size: medium;
}

.artcover {
    display: inline-flex;
}

.artist {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.artist a {
    color: white;
    font-size: 32px;
    text-decoration: none;
}

.artist a:hover {
    color: #00abf0;
}

.footer {
    background: url('file:///C:/Users/PC/OneDrive/Images/footer.png') no-repeat;
    background-size: cover;
    width: 100%;
    padding: 60px 10%;
    display: flex;
    gap: 40px;
    line-height: 1.2;
}

.footer a {
    display: inline-block;
    text-align: start;
    margin: 0;
}

.footer div {
    max-width: 50%;
    padding: 10px;
}

.footer h3 {
    color: white;
}

.icons {
    bottom: 40px;
    width: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 3px solid white;
    border-radius: 50%;
    font-size: 20px;
    color: white;
    direction: none;
}

.icons a:hover {
    border: 3px solid #00abf0;
    color: #00abf0;
}

.artistsection {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: url('file:///C:/Users/PC/OneDrive/Images/sec3.png') no-repeat;
    background-size: cover;
    padding: 5% 10% 0;
    align-items: center;
}

.artsmall {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.artsmall img {
    width: 350px;
    padding: 10px;
}

.artworksection {
    padding-top: 5%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background: url('file:///C:/Users/PC/OneDrive/Images/sec3.png') no-repeat;
    background-size: cover;
    align-items: center;
    gap: 10px;
}

.artworksection .art img {
    width: 800px;
    border: 2px solid #012B4E;
    border-radius: 20px;
}

.artworksection .artistinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}



